{% extends 'layout.html' %}
{% block body %}
<div class="container mt-5">
    <h2 class="mb-4">سجلات فحوصات السكري</h2>
    <table class="table table-bordered bg-white shadow-sm mb-5">
        <thead class="table-primary">
            <tr>
                <th>المستخدم</th>
                <th>النتيجة</th>
                <th>التاريخ</th>
            </tr>
        </thead>
        <tbody>
            {% for row in diabetes %}
            <tr>
                <td>{{ row.username }}</td>
                <td><span class="badge {{ 'bg-danger' if row[1] == 1 else 'bg-success' }}">
                    {{ 'مصاب' if row.prediction == 1 else 'سليم' }}
                </span></td>
                <td>{{ row.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="mb-4">سجلات فحوصات القلب</h2>
    <table class="table table-bordered bg-white shadow-sm">
        <thead class="table-warning">
            <tr>
                <th>المستخدم</th>
                <th>النتيجة</th>
                <th>التاريخ</th>
            </tr>
        </thead>
        <tbody>
            {% for row in heart %}
            <tr>
                <td>{{ row.username }}</td>
                <td><span class="badge {{ 'bg-danger' if row[1] == 1 else 'bg-success' }}">
                    {{ 'خطر' if row.prediction== 1 else 'آمن' }}
                </span></td>
                <td>{{ row.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}