{% extends "layout.html" %}

{% block title %}الرئيسية{% endblock %}

{% block content %}
<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3 text-center shadow">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">نظام التنبؤ الذكي بالأمراض المزمنة</h1>
            <p class="col-md-8 fs-4 mx-auto">
                نستخدم قوة التعلم الآلي و تحليل البيانات للتنبؤ بخطر الإصابة ببعض الأمراض المزمنة بناءً على مجموعة من البيانات الصحية المدخلة.
            </p>
            <hr class="my-4">
            <p>ابدأ الآن بإدخال بياناتك الصحية للحصول على تقييم فوري. يتطلب تسجيل الدخول.</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('predictdiabetes') }}" role="button">ابدأ التنبؤ بمرض السكري</a>
             <a class="btn btn-primary btn-lg" href="{{ url_for('predictheartdisease') }}" role="button">ابدأ التنبؤ بمرض القلب</a>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4">
            <h2>تحليل البيانات</h2>
            <p>نستخدم مكتبات Pandas و NumPy لضمان دقة و نظافة البيانات.</p>
        </div>
        <div class="col-md-4">
            <h2>دقة التنبؤ</h2>
            <p>تم بناء النموذج باستخدام Scikit-learn لتقديم تنبؤات عالية الدقة.</p>
        </div>
        <div class="col-md-4">
            <h2>تقنية Flask</h2>
            <p>يتم استضافة التطبيق بالكامل باستخدام إطار عمل Flask في بايثون لضمان السرعة و المرونة.</p>
        </div>
    </div>
</div>
{% endblock %}